# Título 1
## Título 2
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [5]:
print("Hola Mundo")

Hola Mundo

In [3]:
print("Hola Mundo")

Hola Mundo

In [4]:
print("Hola Mundo")

Hola Mundo

In [11]:
# NO TIPADO
# Variables Primitivas
entero = 4
decimales = 1.1
nombre = "Ricardo"
segundo_nombre = "Martin" # segundoNombre X -> MAL
apellido = "Balarezo"
casado = False
estudiante = True
hijos = None  # vacio

print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(segundo_nombre))
print(type(apellido))
print(type(casado))
print(type(estudiante))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [12]:
#Cadena de texo extensa
cadena_de_texto = """Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor 
(N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal 
manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado
en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más 
recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum"""

print(cadena_de_texto)

Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
(N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal
manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado
en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum

In [6]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

Ricardo
Ricardo

In [13]:
# condiciones
# Truty - Falsy

tuplas = (1,2,3) # son arreglos que no se pueden modificar
lista = [] # son arreglos uqe SI se pueden modificar
diccionario = {
    "nombre":"Martin"
}

if('Martin'):     #Truty
    print('truty')
else:
    print('flasy')

    
if(''):     #Truty
    print('truty')
else:
    print('flasy')
    

print('con numeros')
if(1):     #Truty
    print('truty')
else:
    print('flasy')
    
    
print('con numeros')
if(-1):     #Truty
    print('truty')
else:
    print('flasy')
    
print('con numeros')
if(0):     #Falsy
    print('truty')
else:
    print('flasy')
    
print('con tuplas')
if(()):     #Falsy
    print('truty')
else:
    print('flasy')
    
if((1,2,3)):     #Trury
    print('truty')
else:
    print('flasy')
    
print('con Listas')
if([]):     #Falsy
    print('truty')
else:
    print('flasy')
    
if([1,2,3]):     #Trury
    print('truty')
else:
    print('flasy')
    

    
print('con Diccionario')
if({}):     #Falsy
    print('truty')
else:
    print('flasy')
    
if({nombre: "Martin"}):     #Trury
    print('truty')
else:
    print('flasy')

truty
flasy
con numeros
truty
con numeros
truty
con numeros
flasy
con tuplas
flasy
truty
con Listas
flasy
truty
con Diccionario
flasy
truty

In [18]:
print('Definir Arreglo')

arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Definir Arreglo

In [32]:
arreglo[0:3]
arreglo[5:] # Desde el indice 5 hasta el final
arreglo[:7] # Desde el inicio hasta el indice 6
arreglo[-10] # Empieza desde el Final
arreglo[3:-2]
arreglo[-8:2]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]


arregloTupla = (1,2,3,4,5,6,7,8,9,0)

arregloTupla[5:9]

(6, 7, 8, 9)

In [37]:
diccionario = {
    "nombre":"Martin",
    "apellido":"Balarezo",
    "sueldo":1.2
}

diccionario["nombre"]

'Martin'

In [38]:
10 in arreglo

True

In [39]:
len(arreglo)

10

In [47]:
"nombre" in diccionario # para diccionarios
                        # se debe trabajar con las llaves

True

In [59]:
#arregloTupla[0]
arreglo[0] = 1

In [54]:
arreglo[0]

2

In [55]:
# pop
# append
# insert

In [60]:
for numeroLista in arreglo:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [64]:
contador = 0 
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [76]:
martin = {
    True: "Martin",
    False: "Balarezo",
    1: 12.2,
    1.1: 89,
    'edad': 27,
    "mascotas": [{"nombre":"Emma"}],
    None: None
}

In [80]:
martin['edad'] = 20

martin['apellido'] = 'Balarezo'

martin["mascotas"][0]['nombre'] = 'Mia'

In [81]:
martin

{True: 12.2,
 False: 'Balarezo',
 1.1: 89,
 'edad': 20,
 'mascotas': [{'nombre': 'Mia'}],
 None: None,
 'apellido': 'Balarezo'}

In [83]:
martin.keys()

dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])

In [84]:
martin.values()

dict_values([12.2, 'Balarezo', 89, 20, [{'nombre': 'Mia'}], None, 'Balarezo'])

In [86]:
print(type(martin.values()))

<class 'dict_values'>

In [87]:
for llave in martin.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido